Repository MirrorNetworking/Mirror, pull requests merged in 2019-01, with the labels that each got.

#236 NetworkTransform reimplemented
  Mirror/Editor/Mirror.Editor.csproj
  Mirror/Editor/NetworkTransformChildEditor.cs
  Mirror/Editor/NetworkTransformEditor.cs
  Mirror/Runtime/Messages.cs
  Mirror/Runtime/Mirror.Runtime.csproj
  Mirror/Runtime/NetworkServer.cs
  Mirror/Runtime/NetworkTransform.cs
  Mirror/Runtime/NetworkTransformBase.cs
  Mirror/Runtime/NetworkTransformChild.cs
  Mirror/Runtime/UNetwork.cs
  Mirror/Tests/Mirror.Tests.csproj
  Mirror/Tests/UtilsTest.cs
Labels: work in progress

#175 Additive sceneloading sceneid fix
  Assets/Mirror/Editor/NetworkScenePostProcess.cs
  Assets/Mirror/Runtime/ClientScene.cs
  Assets/Mirror/Runtime/NetworkIdentity.cs
Labels: enhancement

#281 Fix #280, Spawn objects with rotation
  Assets/Mirror/Runtime/ClientScene.cs
  Assets/Mirror/Runtime/Messages.cs
  Assets/Mirror/Runtime/NetworkServer.cs
Labels: question

#344 Assign transport in inspector
  Assets/Mirror/Examples/Basic/Scenes/Example.unity
  Assets/Mirror/Runtime/NetworkManager.cs
Labels: work in progress
