Repository MirrorNetworking/Mirror, pull requests merged in 2020-11, with the labels that each got.

#2387 fix: Examples No Longer Rely On Sequential connectionId
  Assets/Mirror/Components/NetworkRoomManager.cs
  Assets/Mirror/Examples/Basic/Scenes/Example.unity
  Assets/Mirror/Examples/Basic/Scripts/BasicNetManager.cs
  Assets/Mirror/Examples/Basic/Scripts/BasicNetManager.cs.meta
  Assets/Mirror/Examples/Basic/Scripts/Player.cs
  Assets/Mirror/Examples/MultipleAdditiveScenes/Scenes/Game.unity
  Assets/Mirror/Examples/MultipleAdditiveScenes/Scenes/Main.unity
  Assets/Mirror/Examples/MultipleAdditiveScenes/Scripts/MultiSceneNetManager.cs
  Assets/Mirror/Examples/Room/Scripts/PlayerScore.cs
Labels: bug, regression

#2396 NetworkPingDisplay modularity
  Assets/Mirror/Components/NetworkPingDisplay.cs
Labels: work in progress

#2441 perf: NetworkWriter/Reader Write/ReadBlittable<T> for 4-6x performance improvement!
  Assets/Mirror/Runtime/Mirror.asmdef
  Assets/Mirror/Runtime/NetworkReader.cs
  Assets/Mirror/Runtime/NetworkWriter.cs
  Assets/Mirror/Runtime/UNetwork.cs
  Assets/Mirror/Tests/Editor/Mirror.Tests.asmdef
  Assets/Mirror/Tests/Editor/NetworkWriterTest.cs
Labels: work in progress

#2447 feat: Add OnStopServer / OnStopClient methods to Network Authenticator
  Assets/Mirror/Authenticators/BasicAuthenticator.cs
  Assets/Mirror/Authenticators/TimeoutAuthenticator.cs
  Assets/Mirror/Runtime/NetworkAuthenticator.cs
  Assets/Mirror/Runtime/NetworkManager.cs
Labels: PassedTestRoutine, enhancement
