Repository MirrorNetworking/Mirror, pull requests merged in 2021-02, with the labels that each got.

#2552 perf: Batching
  Assets/Mirror/Examples/Benchmark/Scenes/Scene.unity
  Assets/Mirror/Runtime/LocalConnections.cs
  Assets/Mirror/Runtime/NetworkConnection.cs
  Assets/Mirror/Runtime/NetworkConnectionToClient.cs
  Assets/Mirror/Runtime/NetworkManager.cs
  Assets/Mirror/Runtime/NetworkServer.cs
  Assets/Mirror/Runtime/Transport/KCP/MirrorTransport/KcpTransport.cs
  Assets/Mirror/Runtime/Transport/Transport.cs
  Assets/Mirror/Tests/Common/FakeNetworkConnection.cs
  Assets/Mirror/Tests/Editor/NetworkConnectionToClientTests.cs
  Assets/Mirror/Tests/Editor/NetworkConnectionToClientTests.cs.meta
  Assets/Mirror/Tests/Editor/NetworkIdentityTests.cs
  Assets/Mirror/Tests/Editor/NetworkMatchCheckerTest.cs
  Assets/Mirror/Tests/Editor/NetworkServerTest.cs
  Assets/Mirror/Tests/Performance/Editor/FakeNetworkConnection.cs
  Assets/Mirror/Tests/Runtime/NetworkServerRuntimeTest.cs
  Assets/Mirror/Tests/Runtime/NetworkServerWithHostRuntimeTest.cs
Labels: Needs Stress Test

#2577 fix: NetworkServer/Client don't use Connect/DisconnectMessage anymore. fixes a bug where external connects could try sending that message causing undefined behaviour
  Assets/Mirror/Runtime/Messages.cs
  Assets/Mirror/Runtime/NetworkClient.cs
  Assets/Mirror/Runtime/NetworkManager.cs
  Assets/Mirror/Runtime/NetworkServer.cs
  Assets/Mirror/Tests/Editor/BuiltInMessages.cs
  Assets/Mirror/Tests/Editor/MessagePackerTest.cs
  Assets/Mirror/Tests/Editor/NetworkBehaviourTests.cs
  Assets/Mirror/Tests/Editor/NetworkClientTests.cs
  Assets/Mirror/Tests/Editor/NetworkIdentityTests.cs
  Assets/Mirror/Tests/Editor/NetworkServerTest.cs
Labels: work in progress

#2583 Disable Obsolete Warnings In Tests
  Assets/Mirror/Tests/Editor/NetworkIdentityTests.cs
  Assets/Mirror/Tests/Editor/NetworkMatchCheckerTest.cs
Labels: PassedTestRoutine, enhancement

#2582 feat: Move Network Manager out of DDOL in StopServer and StopClient
  Assets/Mirror/Runtime/NetworkManager.cs
Labels: PassedTestRoutine, enhancement
